<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>
	
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
  </system.web>
	<connectionStrings>
		<add name="LocalDB"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=foodstore;Integrated Security=True;Encrypt=False;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

  <!-- Performance: enable caching and compression where supported by host/IIS -->
  <system.webServer>
	<!-- Cache static content for 30 days -->
	<staticContent>
	  <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
	</staticContent>

	<!-- Prefer enabling compression on the host; these settings are safe if IIS supports them -->
	<urlCompression doStaticCompression="true" doDynamicCompression="true" />

	<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
	  <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
	  <dynamicTypes>
		<add mimeType="text/*" enabled="true" />
		<add mimeType="application/javascript" enabled="true" />
		<add mimeType="application/json" enabled="true" />
		<add mimeType="*/*" enabled="false" />
	  </dynamicTypes>
	  <staticTypes>
		<add mimeType="text/*" enabled="true" />
		<add mimeType="application/javascript" enabled="true" />
		<add mimeType="application/json" enabled="true" />
	  </staticTypes>
	</httpCompression>
  </system.webServer>
</configuration>