.messagealert {
            
            padding: 15px 35px 15px 15px;
            text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
        }
       
    

